@{
    ViewBag.Title = "Home Page";
}

<div class="front-page-banner">
    <div class="shader-banner"></div>
    <h1 class="banner-title"><i>RENT<br />A<br />CAR</i></h1>
    <a href="/Vehicle/Index" class="banner-link">NAŠA VOZILA</a>
</div>